
        <html>
                <style>
                        p{
                          color:grey;
                          
                        }
                        table{
                            color:darkslategray;
                            border-collapse: collapse;
                        }
                        table,td,tr{border: 1px solid grey;}
                        
                    </style>
                <body>
                
                    <p>Respected Sir/Ma'am,</p>
                    <p>You have a new Visitor</p>
                    <p>Visitor Details are:</p>
                    <table>
                    <tr><td><strong>Name</strong></td> <td><%=name%></td></tr>
                    <tr><td><strong>Phone no</strong></td> <td><%=phone%></td></tr>
                    <tr><td><strong>Email</strong></td><td><%=email%></td></tr>
                    </table>
                    <p>Hope to See You again.</p>
                    <p>Thank You.</p>
                    
                </body>
            </html>