<!DOCTYPE html>
<html lbuttonng="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Visitor</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="/static/css/particles.css">
        <link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
         <div id="particle-container">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
             <div class="particle"></div>
        </div>
        
        <div id="header">
            <h1>THE COMPANY</h1>
            <h2>Get In Touch</h2>
        </div>
        
        <div id="center">
            <h2>WELCOME Visitor</h2>
            <div id="a">
                <button class="btn1" onclick="location.href = '/in';"><span>CHECK IN</span></button>
                <button class="btn1" onclick="location.href = '/out';"><span>CHECK OUT</span></button>
            </div>
        </div>
        <button id="back" class="btn" onclick="location.href = '/';"><i class="fa fa-angle-double-left"></i>&nbsp;back</button>
	</body>
</html>